@mixin dugmici{
    color: $Boja-fonta;
    border: 1px solid $Boja-fonta;
    border-radius: 25px;
    padding: 1em 2em;
    margin: 1em;
    text-align: center;
    text-decoration: none;
}
@mixin clearfix {
	&:before, &:after {
	    content: "";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}

@mixin h2{
    text-transform: uppercase;
    margin: 0;
    padding: 0; 
    font-size: 1.5em;
}
@mixin h4{
    color: $Crvena;
    margin: 0;
    padding: 0;
    font-size: 1em; 
}
@mixin tabele{
    th:first-child{
        background-color: $Tamno-plava;
    }
    td{
        background-color: white;
        color: $Boja-fonta;
    } 
}
@mixin pading{
    padding: 0.5em 0.5em;
    margin: 1.5em;
}