@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$font-family: 'Roboto', sans-serif;
$Crvena: #f38181;
$Tamno-plava: #374249;
$Div-main: #37424970;
$Boja-fonta: #797979;
$Naslovi: #374249;
$Svetlo-siva1: #cfd1d3;
$Svetlo-siva2: #f3f7f9;