@import 'vars';
@import 'mixins';
body{
    margin: 0;
    font-family: $font-family;
}

main{
    background-image: url('../slike/intro.jpg');
    background-size: cover;
    height: 40em;
    nav{
        background-color: $Tamno-plava;
        height: 4em;
        width: 100%;
        ul{ 
            list-style: none;
            float: right;
            margin: 0;
            li{
                display: inline-block;
                height: 2em;
                text-align: center;  
                padding: 1.5em 2em;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1em;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        img{
            width: 2em;
            float: right;
            padding: 1em 2em;
            background-color: $Crvena;
        }
    }
    div{
        background-color: $Div-main;
        color: white;
        text-align: center;
        height: 5em;
        margin-top: 31em;
        h1, h3, h4{
            margin: 0;
        }
    }
}

section{
    padding: 1em 8em;
    @include clearfix();
}

#prva{
    .buttons{
        float: right;
        @include dugmici();
    }
    a{
        &:hover{
            background-color: $Boja-fonta;
            color: white;
        }
    }
}

#druga{
    background-color: $Svetlo-siva2;
    text-align: center;
    padding: 2em 15em;
    .levo{
        float: left;
        width: 100%;
        img{
            float: left;
            width: 10em;
            border-radius: 50%;
            opacity: 0.6;
            padding: 0;
            margin: 0;
        }
        .tekst{
            display: none;
            padding: 3em 0;
        }
        &:hover{
            img{
                opacity: 100;
            }
            .tekst{
                display: inline-block;
                margin: 0;
                padding-left: 12.6em;
                h2{
                    @include h2();
                }
                h4{
                    @include h4();
                }
            }
        }
    }
    .desno{
        float: right;
        width: 100%;
        img{
            float: right;
            width: 10em;
            border-radius: 50%;
            opacity: 0.6;
            padding: 0;
            margin: 0;
        }
        .tekst{
            display: none;
            padding: 3em 0;
        }
        &:hover{
            img{
                opacity: 100;
            }
            .tekst{
                display: inline-block;
                padding-right: 18em;
                margin: 0;
                h2{
                    @include h2();
                }
                h4{
                    @include h4();
                }
            }       
        }
    }
}

#treca{
    padding: 2em 15em;
    text-align: center;
    h2{
        @include h2();
        color: $Naslovi;
        margin: 1em 1em; 
    }
    h4{
        @include h4();
        color: $Boja-fonta;
        margin: 2em 1em; 
    }
    table{
        margin: 0 auto;
        color: white;
        border-collapse: collapse;
        width: 100%;
        td, th{
            padding: 1em 2em;
            border: 1px solid $Boja-fonta;
            
        }
        thead{
            tr:first-child{
                background-color: white;
                th:nth-child(2){
                    background-color: $Crvena;
                    border: none;
                }
                th:first-child{
                    border: none;
                }
            }
            tr:nth-child(2){
                background-color: $Tamno-plava;
                th:first-child{
                background-color: white;
                border: none;
                }
                th:nth-child(n+2){
                    border-top: none;
                    border-bottom: none;
                    border-left: none;
                    border-right: 1px solid $Boja-fonta;
                }
            }    
        }
        tbody{
            border: 1px solid $Boja-fonta;
            tr:first-child{
                
                th:first-child{
                    background-color: $Crvena;
                }
                th:nth-child(2){
                    background-color: $Tamno-plava;
                }
                td{
                    background-color: white;
                    color: $Boja-fonta;
                }
            }
            tr:nth-child(n+2){
                @include tabele();
            }
        }
    }
}

#cetvrta{
    text-align: center;
    background-color: $Svetlo-siva2;
    padding-bottom: 3em;
    h2{
        @include h2();
        color: $Naslovi;
        margin: 2em 1em; 
    }
    .map{
        float: left;
        width: 50%;
    }
    form{
        background-color: $Crvena;
        float: right;
        width: 50%;
        height: 13em;
        select{
            width: 10em;
            @include pading();
        }
        input[type=text]{
            width: 18em;
            @include pading();
            color: $Boja-fonta;
        }
        input[type=email]{
            width: 31.2em;
            padding: 0.5em 0.5em;
            margin-bottom: 1.5em;
            color: $Boja-fonta;
        }
        textarea{
            width: 32em;
            padding: 0.5em 0.5em;
            color: $Boja-fonta;
        }
    }
}

footer{
    background-color: $Tamno-plava;
    height: 2em;
    width: 100%;
    padding: 1em 0 0 0;
    margin: 0 auto;
    text-align: center;
    color: white;
    span{
        color: $Crvena;
    }
}
